<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link href="/assets/css.css" rel="stylesheet"/>
  </head>
  <body>

    <h1>{{ site.title }}</h1>

    <nav>
      <a class="link" href="/">Home</a>
      <a class="link" href="/blog">Blog</a>
      <a class="link" href="/projects">Projects</a>
      <a class="link" href="/about">About Me</a>
      <a class="link" href="/philosophy">Philosophy</a>
      <a class="link" href="/donate">Donate</a>
      <a class="link" href="/contact">Contact</a>
      <a class="link" href="https://github.com/JinxCGCO/Jinx">Source Code</a>
    </nav>

    <hr/>
